*{
    border: 0px;
    padding: 0px;
    margin: 0px;
}

  body{
        background:  hsl(30, 38%, 92%);
        font-size: 0.875rem;
        font-family: sans-serif;
  }

  :root{
    --font-family-1: Montserrat;
    --font-family-2: Fraunces;

    --font-weight-1: 500;
    --font-weight-2: 700;

    --primary-color-1: hsl(158, 36%, 37%);
    --primary-color-2: hsl(30, 38%, 92%);

    --Netural-color-1: hsl(212, 21%, 14%);
    --Netural-color-2: hsl(228, 12%, 48%);
    --Netural-color-3: hsl(0, 0%, 100%);

  }

  h1{
    font-family: var(--font-family-2);
  }

  p{
    font-family: var(--font-family-1) ;
    color: hsl(228, 12%, 48%);
  }

  .Product_container{
    max-width: 375px ;
    padding: 20px;
    margin: 5% auto;
  }

  .Product_Img{
    background-image: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 200px;
    min-height: 60vh;
    border-radius: 10px 10px 0px 0px;
  }

  .Product_details{
    padding: 25px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0px 0px 10px 10px ;
  }

  .Product_details p:nth-child(1){
    padding: 10px 0px 10px 0px;
    text-transform: uppercase;
    
  }

  .Product_details p:nth-child(3){
    padding: 20px 0px 20px 0px;
    line-height: 1.5;
    word-spacing: 8px;
  }

  .Product_price {
    display: flex;
    align-items: center;
    gap:20px;
    margin-bottom:10px ;
    
  }
  .Product_price p:nth-child(1){
    color: var(--primary-color-1);
    font-weight: 700;
    font-family: var(--font-family-2);
    font-size: 2rem;
  }

  .Product_price p+p{
    text-decoration: line-through
  }
 
  button{
    width: 100%;
    background-color: var(--primary-color-1);
    border: 1px solid green;
    color: var(--Netural-color-3);
    padding: 15px;
    border-radius: 10px;
  }
  
  button:hover{
    background-color: var(--Netural-color-1);
    cursor: pointer;
  }


  @media screen and (min-width: 768px) {

    .Product_container{
        display: flex;
        max-width: 600px ;
      
    }
    .Product_Img{
        background-image: url(./images/image-product-desktop.jpg);
        background-position: center;
        border-radius: 10px 0px 0px 10px;
        min-width: 50%;
        min-height: 40vh;
    }
  .Product_details{
    width: 50%;
    padding: 40px;
    border-radius: 0px 10px 10px 0px;
    
   
  }
  
  }


